.organizer-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F9F9F9;
  }
  
  .layout-content {
    flex: 1;
    padding: 20px 40px;
    overflow-y: auto;
  }
  